/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #481afe;
  height: 70vh;
  padding: 0 100px;
}

nav {
  padding-top: 20px;
  display: flex;
  gap: 30px;
  margin-left: auto;
  justify-content: flex-end;
  color: #fff;
  font-size: 14px;
}

.nav-item {
  padding: 4px;
  border-radius: 4px;
}

.nav-item-active{
  padding: 4px;
  background-color: #fff;
  color: #481afe;
  border-radius: 4px;
}

.nav-item:hover{
 background-color: #fff;
 color:#481afe ;
}

.header-text {
  margin-top: 50px;
  color: #fff;
  font-size: 22px;
}

header div:nth-child(4) {
  position: absolute;
  margin: -200px 0 0 685px;
}

.companies {
  margin-top: 20px;
  padding: 0 0 0 100px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #1f1f1f;
}

.companies a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  font-family: "Righteous";
}

.api-heading {
  margin-top: 80px;
  padding: 0 100px;
}

.cards {
  height: 250px;
  display: flex;
  margin-top: 30px;
  padding: 0 100px;
  justify-content: space-between;
  align-items: baseline;
}

.card {
  padding: 15px 10px 15px 10px
}

.card-active {
  background-color: #fff;
  box-shadow: 5px 5px 5px #f0e9e9;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  color: #481afe;
}

img.card-logo {
  margin: 10px auto;
}

h3.card-head {
  margin: 10px auto;
}

h3.card-head-active {
  margin: 10px auto;
}

p.card-body {
  font-size: 15px;
  margin-bottom: 15px;
}

.blog-heading  {
  margin-top: 50px;
  padding: 0 100px;
}

.blog-cards {
  display: flex;
  margin-top: 50px;
  padding: 0 100px;
}

.blog-card {
  position: relative;
  display: flex;
  width: 50%;
}

.blog-content {
  background-color: #fff;
  width: 300px;
  height: 288px;
  box-shadow: 5px 5px 6px #f0e9e9;
  border-radius: 0 20px 20px 0;
}

.blog-content h6 {
  padding: 25px 0 0 50px;
  color: #481afe;
  font-weight: bold;
}

.blog-content h3 {
  padding: 25px 0 0 50px;
  font-size: 22px;
  font-weight: bolder;
}

.blog-content small {
  margin-top: 20px;
  display: inline-block;
  padding: 0 0 0 50px;
}

.blog-bottom{
  position: absolute;
  bottom: -25px;
  right: 200px;
}

.blog-author{
  position: absolute;
  bottom: 0px;
  right: 70px;
  font-size: 13px;
  font-weight: 900;
}


.faq-section {
  margin-top: 124px;
  padding: 0 90px;
  background-color: #e9edff;
  display: flex;
  padding-top: 40px;
  position: relative;
  height: 350px;
}

.faq-section .faq-image {
  align-self: flex-end;
  display: flex;
  position: absolute;
  right: 0;
  height: 390px;
}

.faq-content {
  margin-top: 26px;
  }
  
  .faq-content h2 {
    font-size: 32px;
  }
  
  .faq-content h4 {
    margin-top: 30px;
    font-size: 14px;
  }
  
  .faq-content button {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    background-color: #481afe;
    border: none;
    border-radius: 4px;
    color: #fff;
  } 

  .download-section {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 300px;
    background-color: #FFFFFF;
    align-items: center;
}

.download-section .download-email {
  position: absolute;
  right: 0px;
}

.download-email form input {
  outline: none;
  border: none;
  background-color: #e9edff;
  padding: 15px 170px 15px 40px;
  border-radius: 50px;
  width: 360px;
}

.download-section .download-email form button {
  position: relative;
  right: 140px;
  background-color: #481afe;
  color: #FFFFFF;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
}

.footer-section {
  background-color: #481afe;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
  height: 200px;
}

.footer-section .footer-left .list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 13px;
  padding-top: 20px;
  margin-left: -30px;
}

.footer-right:first-child {
  text-align: right;
  margin-bottom: 20px;
}

.footer-right .logos-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 13px;
}


@media screen and (max-width:480px) {
  header {
    background-color: #481afe;
    height: 60vh;
    padding: unset;
    width: 100%;
  }
  
  nav {
    display: none;
  }

  .logo {
    width: 30%;
    padding: 5% 35%;
  }
  
  .header-text {
    margin-top: unset;
    color: #fff;
    font-size: 18px;
    padding: 5%;
  }
  
  header div:nth-child(4) {
    display: none;
    width: 100%;
    position: unset;
    margin: unset;
    justify-content: center;
  }

  .companies {
    margin-top: 20px;
    padding: unset;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    color: #1f1f1f;
  }

  .companies a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: unset;
    font-family: "Righteous";
  }

  .api-heading {
    margin-top: 40px;
    padding: unset;
    text-align: center;
  }

.cards {
  width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: unset;
    justify-content: center;
    align-items: center;
}

.card {
  padding: 15px 10px 15px 10px
}

.card-active {
  background-color: #fff;
  box-shadow: 5px 5px 5px #f0e9e9;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  color: #481afe;
}

img.card-logo {
  margin: 10px auto;
}

h3.card-head {
  margin: 10px auto;
}

h3.card-head-active {
  margin: 10px auto;
}

p.card-body {
  font-size: 15px;
  margin-bottom: 15px;
}

.blog-heading {
  margin-top: 40px;
    padding: unset;
    text-align: center;
}
  
.blog-cards {
  display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
}

.blog-card {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20%;
}

.blog-content {
  background-color: #fff;
  width: 50%;
  height: auto;
  box-shadow: 5px 5px 6px #f0e9e9;
  border-radius: 0 20px 20px 0;
}

.blog-content h6 {
  padding: 20px 0px;
    color: #481afe;
    font-weight: bold;
}

.blog-content h3 {
  padding: unset;
  font-size: 12px;
  font-weight: bolder;
}

.blog-content small {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 0 30px 0;
  font-size: 10px;
}

.blog-bottom{
  position: absolute;
  bottom: -30px;
  right: 35%;
}

img.blog-card-bottom-image {
  width: 100%;
}

.blog-author{
  position: absolute;
  bottom: 0px;
  right: 10%;
  font-size: 8px;
  font-weight: 900;
}

.blog-image {
  width: 50%;
}

.blog-image img {
  width: 90%;
  height: 100%;
}

.faq-section {
  margin-top: 10%;
    padding: 5%;
    background-color: #e9edff;
    display: flex;
    padding-top: unset;
    position: relative;
    height: auto;
}

.faq-section .faq-image {
  
  display: none;
 
}

.faq-content {
  margin-top: 5%;
  }
  
  .faq-content h2 {
    font-size: 18px;
  }
  
  .faq-content h4 {
    margin-top: 30px;
    font-size: 12px;
  }
  
  .faq-content button {
    margin-top: 30px;
    width: 40%;
    height: 30px;
    background-color: #481afe;
    border: none;
    border-radius: 4px;
    color: #fff;
  } 

  .download-section {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    height: unset;
    justify-content: center;
    align-items: center;
}

.download-content {
  width: 100%;
  text-align: center;
  
}

form {
  width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.download-section .download-email {
  width: 100%;
  position: relative;
  right: unset;
  margin: 5%;
 margin-left: 5%;
}

.download-email form input {
  margin-left: 15%;
  margin-right: 15%;
  outline: none;
  border: none;
  background-color: #e9edff;
  border-radius: 50px;
  padding: 15px 150px 15px 40px;
  width: unset;
}

.download-section .download-email form button {
  position: relative;
    right: 40%;
    background-color: #481afe;
    color: #FFFFFF;
    border: none;
    padding: 8px 25px;
    border-radius: 50px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: center;
}

.footer-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right-logo {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  width: 100%;
  gap: 20px;
}

}


@media screen and (min-width:481px) and (max-width:786px){
  header {
    background-color: #481afe;
    height: 80vh;
    padding: unset;
    width: 100%;
  }
  
  nav {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .logo {
    width: 15%;
    padding: 40px 0 0px 40px;
  }

  .header-text {
    margin-top: unset;
    color: #fff;
    font-size: 18px;
    padding: 5%;
  }
  
  header div:nth-child(4) {
    display: none;
    width: 100%;
    position: unset;
    margin: unset;
    justify-content: center;
  }

  .companies {
        margin-top: 20px;
    padding: unset;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #1f1f1f;
  }

  .companies a {
    text-decoration: none;
    color: #1f1f1f;
    font-weight: unset;
    font-family: "Righteous";
  }

  .api-heading {
    margin-top: 40px;
    padding: unset;
    text-align: center;
  }

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: unset;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 15px 10px 15px 10px
}

.card-active {
  background-color: #fff;
  box-shadow: 5px 5px 5px #f0e9e9;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  color: #481afe;
}

img.card-logo {
  margin: 10px auto;
}

h3.card-head {
  margin: 10px auto;
}

h3.card-head-active {
  margin: 10px auto;
}

p.card-body {
  font-size: 15px;
  margin-bottom: 15px;
}

.blog-heading {
  margin-top: 40px;
    padding: unset;
    text-align: center;
}
  
.blog-cards {
  display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
}

.blog-card {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20%;
}

.blog-content {
  background-color: #fff;
  width: 50%;
  height: auto;
  box-shadow: 5px 5px 6px #f0e9e9;
  border-radius: 0 20px 20px 0;
}

.blog-content h6 {
  padding: 20px 0px;
  color: #481afe;
  font-weight: bold;
  font-size: 22px;
}

.blog-content h3 {
  padding: unset;
  font-size: 1.5rem;
  font-weight: bolder;
}

.blog-content small {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 0 30px 0;
  font-size: 1.2rem;
}

.blog-bottom{
  position: absolute;
  bottom: -30px;
  right: 35%;
}

img.blog-card-bottom-image {
  width: 3.5rem;
}

.blog-author {
  position: absolute;
  bottom: 0px;
  right: 10%;
  font-size: 1rem;
  font-weight: 900;
}

.blog-image {
  width: 50%;
}

.blog-image img {
  width: 90%;
  height: 100%;
}

.faq-section {
  margin-top: 10%;
    padding: 5%;
    background-color: #e9edff;
    display: flex;
    padding-top: unset;
    position: relative;
    height: auto;
}

.faq-section .faq-image {
  
  display: none;
 
}

.faq-content {
  margin-top: 5%;
  }
  
  .faq-content h2 {
    font-size: 18px;
  }
  
  .faq-content h4 {
    margin-top: 30px;
    font-size: 12px;
  }
  
  .faq-content button {
    margin-top: 30px;
    width: 40%;
    height: 30px;
    background-color: #481afe;
    border: none;
    border-radius: 4px;
    color: #fff;
  } 

  .download-section {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    height: unset;
    justify-content: center;
    align-items: center;
}

.download-content {
  width: 100%;
  text-align: center;
  
}

form {
  width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.download-section .download-email {
  width: 100%;
  position: relative;
  right: unset;
  margin: 5%;
 margin-left: 5%;
}

.download-email form input {
  margin-left: 15%;
  margin-right: 15%;
  outline: none;
  border: none;
  background-color: #e9edff;
  border-radius: 50px;
  padding: 15px 20% 15px 10px;
  width: unset;
}

.download-section .download-email form button {
  position: relative;
  right: 32%;
  background-color: #481afe;
  color: #FFFFFF;
  border: none;
  padding: 8px 18px;
  border-radius: 50px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: center;
}

.footer-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right-logo {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  width: 100%;
  gap: 20px;
}

}